/* Header STUFF GOES HERE  */
#headerWrapper{
    border-bottom: 1px solid #eee;
}
header{
    grid-template-columns: 100px auto auto;
    div#phone{
        display:block;
        justify-self: end;
        a{
            color: black;
            text-decoration: none;
            font-weight: $normalWeight;
            font-size: 1.5rem;
        }
        a:hover{
            color: $primaryColor;
        }
    }
}

/* NAVIGATION STUFF GOES HERE  */
nav{
    .nav-bar{
        display: block;
    }
    height: auto;
    .search{
        float: right;
        display: block;
        button{
            padding: .1rem;
            margin-left: 0;
        }
    }
}
nav ul{
    display: flex;
    margin-left: 2%;
    // border-left: 1px solid gray;
}

nav ul li a{
    display: block;
    padding: .9rem 1.2rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    transition: background 0.3s linear;
}

nav ul li a:hover{
    background-color: darken(rgb(78, 78, 255), 5%);
    color: white;
}

#primaryNav li.parent > a:after{
    content: "\25BC";
    font-size: .65rem;
    float: left;
    padding: 0 .25rem;
}

ul li ul{
    display: flex;
    flex-direction: column;
    background-color: lighten($primaryColor, 45%);
    border: none;
    width: 14rem;
    position: absolute;
    left: -999rem;
    z-index: 99;
}

ul li ul li{
    border-right: none;
    border-top: 1px solid black;
    color: white;

}

ul li:hover ul{
    left: auto;
    margin-left: 0;
}

div#hamburger, div#closex{
    display: none;
}

/* Main */
// main{
//     display:grid;
//     div.card{
//        flex-basis: 21%; 
//     }
// }

/* Columns */
@for $i from 0 through 12{
    $w:($i / 12) * 100%;
    .medium-#{$i} {flex-basis: $w;}
}
div.card:hover{
    cursor: pointer;
}

/* Structure STUFF GOES HERE  */
div#headerWrapper{grid-row-start: 1;}
div#navWrapper{grid-row-start: 2;}
div#mainWrapper{grid-row-start: 3;}
div#footerWrapper{grid-row-start: 4;}