/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
    display: grid;
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}


/* HEADER  */
div#headerWrapper{grid-row-start: 1;}
header {
    display: grid;
    grid-template-columns: 100px auto 44px;
    align-items: center;
	padding: .5rem 2vw;
    div#phone{
        display: none;
    }
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: $primaryColor;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */
div#navWrapper{grid-row-start: 4;}

div#hamburger a, div#closex a{
    display: block;
    padding: .8rem 2vw;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    text-align: right;
}

nav{
    height: 100vh;
    ul{
        border-bottom: 1px solid #eee;
    }
    ul li{
        border-top: 1px solid #eee;
    }

    ul li a{
        display: block;
        color: #333;
        padding: .9rem 2vw;
        text-decoration: none;
        text-align: right;
    }
    ul li.active a{
        background-color: lighten($primaryColor, 20%);
        color:#111;
    }

    ul li a:hover{
        background-color: $secondaryColor;
        color: white;
    }
}

/* Main */
div#mainWrapper{grid-row-start: 2;}

div.grid{
    display: flex;
    flex-wrap: wrap;
}
div.card{
    border: 1px solid rgb(190, 190, 190); 
    background-color: rgb(173, 173, 173);
    text-align: center;
    section{
        background-color: #444;
        color: rgb(225, 225, 225);
        padding-top: 3rem;
        padding: 1rem 0;
    }
    a{
        color:#1b1b1b;
    }
}

button{
    background-color: $primaryColor;
    color: white;
    padding: 1rem 3rem;
    margin: 1rem;
    border-radius: 8%;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: $primaryColor;
}

/* Columns */
div.flexed{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    p{
        padding-left: 2%;
    }
    h2{padding-top:.5rem;}
}
.column{
    padding: 0 $gutter;
}
@for $i from 0 through 12{
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}

.jumbotron{
    background-color: darken($accent, 40%);
    p{
        color: white;
        padding: 2rem 0;
    }
    h2{
        color:white;
    }
}

.boxes{
    background-color: darken($accent, 30%);
    text-align: center;
    padding: 2rem;
    color: white;
    border: solid white;
    font-weight: $normalWeight;
}

.faces{
    max-width: 198px;
    max-height: 220px;
}

.blogs{
    max-width: 300px;
    max-height: 240px;
    
}

/* Footer */

div.social{
    background-color: rgb(163, 163, 163);
    display: flex;
    padding: 1rem 0;
    margin-top: 1rem;
}

div.social a{
    flex-basis: 25%;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-decoration: none;
}

div.social a:hover{
    color: lighten($primaryColor, 20%);
}

div#footerWrapper{
    grid-row-start: 3;
    background-color: #1b1b1b;
    
}





















/* MAIN  */
main {
 	p {padding: .5rem 2vw; color: #333; line-height: 125%;}
	h1 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    .hero {width: 100%;}
    .hero img {
        width: 100%;
        height: auto;
    }
} // end main



/* FOOTER  */
#footerWrapper {background-color: #1b1b1b; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: #bbb;
	text-align: center;
	a{color: #eee;}
}
